#leaderboardnav
{
  background-color: #182A61;
}

.infotable
{
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.infotable td, .infotable th
{
  background-color: #000514;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.infotable td:first-child, .infotable th:first-child
{
  border-left: none;
}

.infotable td:last-child, .infotable th:last-child
{
  border-right: none;
}

.infotable th
{
  border-top: none !important;
}

.infotable tr:last-child > td
{
  border-bottom: none !important;
}

.highlight > td
{
  background-color: #182A61;
}

.infobox
{
  padding: 0px 0px 0px 0px !important;
}

th, td
{
  font-size: 1.2em;
}