body
{
  background-color: black;
  color: white;
}

#navrule, #footrule
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer
{
  text-align: center;
}

.infobox
{
  border-style: solid;
  border-color: white;
  border-width: 2px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: block;
}

.infobox input[type="text"], input[type="email"], input[type="password"]
{
  float:right;
  margin-left: auto;
  margin-right: 0px;
}

.infobox form ul
{
  list-style-type: none;
  padding-left: 0px;
}

.infobox form li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.infocaption
{
  margin-bottom: 0px;
  font-size: 1.5em;
}

.center
{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.words p
{
  width: auto;
  font-size: 2em;
  text-align: center;
}

#navbar
{
  height: 50px;
  text-align: center;
}

#navbar div
{
  display: inline-block;
  font-size: 3em;
}

#navbar p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar > div:after
{
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0px;
  line-height: 0px;
}