body
{
  background-color: black;
  /*background-image: url("/res/zwartevilt_@2X.jpg");*/
  background-image: url("/res/twinkle_twinkle_@2X.png");
  color: white;
  font-family: 'VT323', '';
}

#navrule, #footrule
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer
{
  text-align: center;
}

.infocaption
{
  margin-bottom: 0px;
  font-size: 2em;
}

.infobox
{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: black;
  border-radius: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: block;
}

.innerbox
{
  
}

.infobox input[type="text"], input[type="email"], input[type="password"]
{
  float:right;
  margin-left: auto;
  margin-right: 0px;
}

.infobox form ul
{
  list-style-type: none;
  padding-left: 0px;
}

.infobox form li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.infotable
{
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.infotable td, .infotable th
{
  border: 1px solid white;
}

.twocol /*Two-Column Layout (needs .left or .right as well)*/
{
  display: block;
  overflow: auto;
}

.twocol > div
{
  display: inline-block;
  width: 300px;
}

.left /*Use with .twocol*/
{
  float: left;
  margin-left: 20%;
}

.right /*Use with .twocol*/
{
  float:right;
  margin-right: 20%;
}

.words p
{
  width: auto;
  font-size: 2em;
  text-align: center;
}

#navbar
{
  height: 50px;
  text-align: center;
}

#navbar div
{
  display: inline-block;
  font-size: 3em;
}

#navbar p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar > div:after
{
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0px;
  line-height: 0px;
}

.spacer
{
  margin: 0px;
  height: 100px;
}

.heading
{
  font-size: 5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}