/*
Colors

Core blue: #000514
Core blue(50% alpha): rgba(00, 10, 40, 0.5)
Dark accent blue: #00030D
Highlight blue: #3E518A;
*/

html, body
{
  height: 100%;
}

body
{
  background-color: #000514;
  /*background-image: url("/res/escheresque_ste_@2X.png");*/
  background-image: url("/res/triangles_@2X.png");
  color: white;
  font-family: 'VT323', '';
  margin: 0px;
  padding: 0px;
}

p, hr
{
  margin-top: 0px;
  margin-bottom: 0px;
}

footer
{
  padding-top: 2em;
}

#navbar, #footer
{
  padding-top: 0.5em;
}

#wrapper
{
  height: 100%;
  margin: 0px auto -4em;
}

#wrapper, #wrapper::after
{
  /*#00030D*/
  background-color: rgba(00, 03, 13, 0.8);
}

#footer
{
  text-align: center;
  background-color: #000514;
}

#footer, #push
{
  height: 3em;
}

.infocaption
{
  margin-bottom: 0px;
  font-size: 2em;
}

.infobox > div
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.infobox
{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: #000514;
  border-radius: 5px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  display: block;
}

input[type="text"], input[type="email"], input[type="password"]
{
  float:right;
  margin-left: auto;
  margin-right: 0px;
}

input[type="button"], input[type="submit"]
{
  font-family: 'VT323', '';
  font-size: 1.2em;
  width: 100%;
}

::-webkit-input-placeholder
{
 font-family: 'VT323', '';
 font-size: 1.2em;
}

.infobox form ul
{
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infobox form li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.twocol /*Two-Column Layout (needs .left or .right as well)*/
{
  display: block;
  overflow: auto;
}

.twocol > div
{
  display: inline-block;
  width: 400px;
  padding-top: 2em;
}

.left /*Use with .twocol*/
{
  float: left;
  margin-left: 20%;
}

.right /*Use with .twocol*/
{
  float:right;
  margin-right: 20%;
}

.words p
{
  width: auto;
  font-size: 1.4em;
  text-align: center;
}

a
{
  color: white;
  text-decoration: none;
}

#navbar
{
  min-width: 1000px;
  height: 3em;
  padding-bottom: 0.5em;
  padding-left: 0px;
  padding-right: 0px;
  text-align: justify;
  background-color: #000514;

}

#navbar > div
{
  min-width: 10%;
  margin-left: 0px;
  padding-left: 2%;
  margin-right: 0px;
  padding-right: 2%;
  display: inline-block;
  white-space: nowrap;
  font-size: 3em;
}

#navbar:first-child
{
  padding-left: 0px;
}

#navbar:last-child
{
  padding-right: 0px;
}

#navbar p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading
{
  font-size: 5em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}