/* Removes Mobile Highlight */ 
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

#Canvases
{
  margin-left: auto;
  margin-right: auto;
  width: 1083px;
  height: 738px;
}

#Canvases > div
{
  margin: 5px;
  height: 340px;
  background-color: black;
}

.leftCanvas
{
  float: left;
  width: 765px;
}

.rightCanvas
{
  float: right;
  width: 250px;
}